body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.poster{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right,#ff7e5f,#feb47b);
    color: white;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.qoute{
    font-size: 30px;
    font-style: italic;
    margin: 10px 0;
}
.author{
    font-size: 20px;
    font-weight: lighter;
}